.admin-panel {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.form-preview-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.event-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.event-form input,
.event-form textarea,
.event-form select {
  padding: 10px;
  font-size: 1rem;
}

.event-form button {
  padding: 12px;
  font-size: 1rem;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.preview-container {
  flex: 1;
  max-width: 400px;
  align-self: flex-start;
  margin-top: -5%;
}

.cancel-preview-button {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.eventi-pubblicati {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
