.event-list {
  padding: 2rem;
  position: relative;
}

.card-container {
  position: relative;
  overflow: hidden;
  max-width: calc(
    5 * 300px + 4 * 20px + 4rem
  ); /* 5 card larghe + 4 gap + padding */
  margin: 0 auto;
  width: 100%;
}

.card-grid.scrollable {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 2rem;
  scrollbar-width: none; /* Firefox */
}

.card-grid.scrollable::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.card-grid.scrollable > * {
  flex: 0 0 300px; /* Ogni card è larga 300px */
}

/* FRECCE */

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  z-index: 10;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-button:hover {
  transform: translateY(-50%) scale(1.1);
  background-color: #ffe600;
  color: white;
}

.arrow-button.left {
  left: 10px;
}

.arrow-button.right {
  right: 10px;
}
