.footer {
  background-color: #f4f4f4;
  padding: 1.5rem 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 2rem;
  position: relative;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 0.8rem;
}

.icon {
  font-size: 1.8rem;
  color: #333333;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
  color: #ffe600;
}

.footer p {
  font-size: 1rem;
  color: #333333;
  font-weight: 500;
}

/* PULSANTE ADMIN SEGRETO */

.secret-admin-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black; /* da modificare prima del lancio in trasparent */
  border: none;
  color: white;
  opacity: 10; /* da modificare prima del lancio 0.0 */
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
}
