.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav a:hover {
  color: #ffe600;
}

/* LOGO BR */

.logo img {
  width: 70px;
  height: 90px;
}

/* PULSANTE PROFILO */

.apply-button {
  background-color: #ffe600 !important;
  color: #333 !important;
  border: none;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transform: skew(-20deg);
  display: inline-block;
  transition: background-color 0.3s ease;
  margin-right: 1rem;
}

.apply-button {
  font-weight: 600;
}

.apply-button span {
  display: inline-block;
  transform: skew(20deg);
}

.apply-button:hover {
  background-color: #e2cc00 !important;
}

/*PULSANTI HEADER */

.menu li {
  display: inline-block;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  color: #333333;
}

.menu li span {
  display: inline-block;
}

.menu li:not(:has(button)):hover {
  transform: skew(-20deg);
  background-color: #ffe600;
  color: white;
}

.menu li:not(:has(button)):hover span {
  transform: skew(20deg);
}

/* PANNELLO NEWSLETTER */
.newsletter-panel {
  position: fixed;
  top: 0;
  right: -400px;
  width: 350px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: right 0.3s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newsletter-panel.open {
  right: 0;
}

.newsletter-panel h3 {
  margin-top: 2rem;
  font-size: 1.3rem;
  color: #333;
}

.newsletter-panel input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.confirm-button {
  background-color: #ffe600;
  color: #333;
  font-weight: bold;
  border: none;
  padding: 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #e2cc00;
}

.success-msg {
  color: green;
  font-weight: bold;
}

.error-msg {
  color: red;
  font-weight: bold;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
