html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

#root {
  font-family: sans-serif;
  font-size: large;
  font-weight: 600;
}
